<title>Flask App</title>
<div style="
    padding: 44px;
    position: relative;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: #ffa500;
  ">
    <h2> < Result Page ></Result></h2>
    <h3>ALL OPERATION COMPILLED SUCCESFULLY !!</h3>
    <h3> - Solution for Instruction Point 1 @ /one_pc  and @ /one_lpc  and @  /one_plasma respectively</h3>
    <h3> - Solution for Instruction Point 2 @ /two </h3>
    <h3> - Solution for Instruction Point 3 @ /three </h3>
    <h3> - Solution for downloading file @ /downloadfile/' + filename.csv (processed file saved as original.csv) <br> <br> EG : http://127.0.0.1:5000/downloadfile/original.csv</h3>
    <h3> - Download any file from uploads dir @ /downloadfile/ + filename.csv </h2>
    <h2> - All Api Details @  /details .</h2>
</div>
