
<title>Flask App</title>
<div
  style="
    padding: 16px;
    position: relative;
    height: 200;
    width: 60%;
    height: 200px;
    margin: 0 auto;
    background-color: #ffa500;
  "
>
  <h2>elucidata Assignment</h2>
<form action="" method=post enctype=multipart/form-data>
    <input type="file" name="file"><br />
    <input
      style="color: white; background-color: green; margin-top: 20px"
      type="submit"
      name=""
      value="Upload"
    />
  </form>

  <h5> ~ Amar Nagargoje</h5>
</div>
